// ant design css
// @import '~antd/dist/antd.dark.css';
@import '~antd/dist/antd.compact.css';

html,
body {
	margin: 0;
	height: 100%;
	// background-color: black !important;
	background-color: whitesmoke !important;
	font-size: 12px;
}
